<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="trailerapp"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Configuración de la actividad principal -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            
            <!-- Meta-data de la actividad -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            
            <!-- Filtro de intención -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Meta-data global -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.maps.RenderingMode"
            android:value="texture_view" />


    </application>
    
    <!-- Requerido para la consulta de actividades -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
